# Prueba de módulos

Por José Francisco Pacheco Quintana

In [2]:
import requests, json

In [15]:
api_key = "44ddcd172064f45d3c25066cf35f80e8"

In [5]:
base_url = "http://api.openweathermap.org/data/2.5/weather?"

In [17]:
city_name = "Monterrey,MX"

In [18]:
complete_url = base_url + "appid=" + api_key + "&q=" + city_name

In [19]:
response = requests.get(complete_url)

x = response.json()

print(x)

{'coord': {'lon': -100.3167, 'lat': 25.6667}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 299.02, 'feels_like': 299.75, 'temp_min': 299.02, 'temp_max': 299.1, 'pressure': 1016, 'humidity': 80, 'sea_level': 1016, 'grnd_level': 955}, 'visibility': 10000, 'wind': {'speed': 2.11, 'deg': 125, 'gust': 4.02}, 'clouds': {'all': 2}, 'dt': 1628664311, 'sys': {'type': 2, 'id': 2004940, 'country': 'MX', 'sunrise': 1628683967, 'sunset': 1628731212}, 'timezone': -18000, 'id': 3995465, 'name': 'Monterrey', 'cod': 200}

In [20]:
if x["cod"] != "404":
 
    y = x["main"]
 
    current_temperature = y["temp"]
 
    current_pressure = y["pressure"]
 
    current_humidity = y["humidity"]
 
    z = x["weather"]
 
    weather_description = z[0]["description"]
 
    print(" Temperature (in kelvin unit) = " +
                    str(current_temperature) +
          "\n atmospheric pressure (in hPa unit) = " +
                    str(current_pressure) +
          "\n humidity (in percentage) = " +
                    str(current_humidity) +
          "\n description = " +
                    str(weather_description))
else:
    print(" City Not Found ")

 Temperature (in kelvin unit) = 299.02
 atmospheric pressure (in hPa unit) = 1016
 humidity (in percentage) = 80
 description = clear sky

In [21]:
from datetime import datetime

# datetime object containing current date and time
now = datetime.now()
 
print("now =", now)

# dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

now = 2021-08-11 02:30:48.082446
date and time = 11/08/2021 02:30:48

In [22]:
y["time"] = now.strftime("%d/%m/%Y %H:%M:%S")

In [23]:
print(y)

{'temp': 299.02, 'feels_like': 299.75, 'temp_min': 299.02, 'temp_max': 299.1, 'pressure': 1016, 'humidity': 80, 'sea_level': 1016, 'grnd_level': 955, 'time': '11/08/2021 02:30:48'}

In [14]:
import pandas as pd
import boto3

In [6]:
dynamodb = boto3.resource('dynamodb')

In [16]:
table = dynamodb.Table('weather')

In [45]:
response = table.scan()
items = response['Items']
while 'LastEvaluatedKey' in response:
    print(response['LastEvaluatedKey'])
    response = table.scan(ExclusiveStartKey=response['LastEvaluatedKey'])
    items.extend(response['Items'])

In [46]:
items

[{'humidity': '58',
  'time': '12/08/2021 19:02:02',
  'feels_like': '307.63',
  'pressure': '1012',
  'temperature': '304.21'},
 {'humidity': '55',
  'time': '12/08/2021 18:54:02',
  'feels_like': '305.5',
  'pressure': '1012',
  'temperature': '303.42'},
 {'humidity': '58',
  'time': '12/08/2021 19:00:09',
  'feels_like': '307.63',
  'pressure': '1012',
  'temperature': '304.21'},
 {'humidity': '58',
  'time': '12/08/2021 18:56:02',
  'feels_like': '307.63',
  'pressure': '1012',
  'temperature': '304.21'},
 {'humidity': '58',
  'time': '12/08/2021 19:04:02',
  'feels_like': '307.63',
  'pressure': '1012',
  'temperature': '304.21'},
 {'humidity': '58',
  'time': '12/08/2021 19:06:02',
  'feels_like': '307.63',
  'pressure': '1012',
  'temperature': '304.21'},
 {'humidity': '58',
  'time': '12/08/2021 18:58:02',
  'feels_like': '307.63',
  'pressure': '1012',
  'temperature': '304.21'}]

In [47]:
df = pd.DataFrame(items)
df

  humidity                 time feels_like pressure temperature
0       58  12/08/2021 19:02:02     307.63     1012      304.21
1       55  12/08/2021 18:54:02      305.5     1012      303.42
2       58  12/08/2021 19:00:09     307.63     1012      304.21
3       58  12/08/2021 18:56:02     307.63     1012      304.21
4       58  12/08/2021 19:04:02     307.63     1012      304.21
5       58  12/08/2021 19:06:02     307.63     1012      304.21
6       58  12/08/2021 18:58:02     307.63     1012      304.21

In [48]:
cols = df.columns.tolist()

In [49]:
cols = cols[1:] + cols[:-4]

In [50]:
df1 = df[cols]

In [51]:
df1

                  time feels_like pressure temperature humidity
0  12/08/2021 19:02:02     307.63     1012      304.21       58
1  12/08/2021 18:54:02      305.5     1012      303.42       55
2  12/08/2021 19:00:09     307.63     1012      304.21       58
3  12/08/2021 18:56:02     307.63     1012      304.21       58
4  12/08/2021 19:04:02     307.63     1012      304.21       58
5  12/08/2021 19:06:02     307.63     1012      304.21       58
6  12/08/2021 18:58:02     307.63     1012      304.21       58

In [53]:
df1['time'] = pd.to_datetime(df1['time'])

In [116]:
df1["temperature"] = pd.to_numeric(df1["temperature"], downcast="float")
df1["feels_like"] = pd.to_numeric(df1["feels_like"], downcast="float")
df1["pressure"] = pd.to_numeric(df1["pressure"], downcast="float")
df1["humidity"] = pd.to_numeric(df1["humidity"], downcast="float")

In [117]:
print("The first register is "+ str(df1['time'].min()) + ", the last register is " + str(df1['time'].max()))

The first register is 2021-12-08 18:54:02, the last register is 2021-12-08 19:06:02

In [62]:
start = input("Type a starting date: ")
end = input("Type an ending date: ")

Type a starting date: 12/08/2021 18:56:02
Type an ending date: 12/08/2021 19:02:02

In [118]:
query = df1[(df1['time'] > start) & (df1['time'] <= end)]

In [119]:
avg = query['temperature'].mean()

In [120]:
avg

304.2099914550781